# # Terraform
# .terraform/
# *.tfstate
# *.tfstate.*
# terraform.tfvars
# # Secrets
# .env
# exemplifi-wp
# exemplifi-wp.pub
# # WordPress
# wp-config.php
# wp-content/uploads/
# node_modules/
# vendor/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl
# Local env & keys
.env
exemplifi-wp
exemplifi-wp.pub

# WordPress
wordpress/wp-config.php
wordpress/wp-content/uploads/
wordpress/node_modules/
wordpress/vendor/

# OS/editor junk
.DS_Store
